<!doctype html>
<html>
    <head>
        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script src="http://code.jquery.com/jquery-1.10.2.min.js" charset="utf-8"></script>
        <link rel="stylesheet" href="/static/css/calendar.css" />
    </head>
    <body>
        <script type="text/javascript">
            // niceMonth dictionary - maps number to 3 letter month
            var nice_months = {
                1: 'Jan',
                2: 'Feb',
                3: 'Mar',
                4: 'Apr',
                5: 'May',
                6: 'Jun',
                7: 'Jul',
                8: 'Aug',
                9: 'Sep',
                10: 'Oct',
                11: 'Nov',
                12: 'Dec'
            };
            // the rgb of the color the background should be
            var the_heat = d3.rgb('red');

            $(function() {
                // get the commit data from the server
                d3.json('/get_json', function(all_data) {
                    var commit_data = all_data['date_data'];
                    var commit_max = all_data['commit_high'];
                    // for each year in the data, create a container div for the calendars
                    for(year in commit_data) {
                        var container = d3.select('body').append('div').attr({
                            'id': 'contain_' + year,
                            'class': 'cal_container'
                        });
                        container.insert('h3').html(year);

                        // then put in a calendar for each value in the year
                        for(month in commit_data[year]) {
                            var commits = commit_data[year][month];
                            var calendar = container.insert('div').attr({
                                'id': month,
                                'class': 'calendar'
                            }).style('background-color', function() {
                                // find the inverse percentage of this commit data
                                var c_percent = ((commit_max - commits) / commit_max) * 100;
                                // now figure out how much in rgb it would be
                                var rgb_value = (c_percent / 100) * 255;
                                return d3.rgb(255, rgb_value, rgb_value);
                                
                            });
                            // append the title
                            calendar.append('span').html(nice_months[month]);
                            // append the commit value
                            calendar.append('p').html(commits);
                        }
                    }
                });
            });
        </script>
    </body>
</html>
